body{
    background:linear-gradient(rgb(255, 240, 100) 0%,#f8af4e 9% ,#fbd 80%,#90CAF9 100%);
}

h1{
    color: rgb(38, 0, 225);
}
#show_sketch{
    float: right;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example{ 
from{box-shadow: 1px 1px 38px white ;}
to{box-shadow: 1px 1px 38px grey;}
}
p{
    padding-top:10px;
font-size: 25px;
}